.introducao-bg{
    background-color: #000000;
    box-shadow: inset 0 -120px #ffffff;
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}

.introducao img{
    height: 100%;
    object-fit: cover;
    border-radius: 4px ;

}

.introducao h1{
    padding-bottom: 32px;
}

.introducao p{
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
}

@media (max-width: 1100px){
    .introducao h1{
        font-size: 48px;
        padding-bottom: 16px;

    }
    .introducao p{
        font-size: 18px;
    }
}

@media (max-width: 800px){
    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo{
        padding-bottom: 0px;
    }
    .introducao h1{
        font-size: 32px;
    }
    .introducao img{
        height: 300px;
        width: 100%;
    }
}